@import "./globals.scss";
@import "./Laptops.scss";
@import "./Home.scss";
@import "./Product.scss";
@import "./smartphones.scss";
@import "./Cart.scss";
@import "./Buy.scss";

body{
    background: $body-bg;
}

header
{
    height: 60px;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color:transparent;
    transition: background-color .4s;
    .header
    {
        width: 95%;
        margin: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo
        {
            width: 100px;
            img{
                width: 100%;
                height: auto;
            }
        }

        &__right
        {
            display: flex;
            align-items: center;
            button{
                height: 25px;
                border: none;
                outline: none;
                background: transparent;
                margin: 0 .5rem;
                cursor: pointer;
                img{
                    height: 100%;
                    width: auto;
                }
            }
        }

        .hamburger
        {
            height: 10px;
            width: 22px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: .8rem;
            span{
                height: 2.5px;
                border-radius: 1.25px;
                width: 100%;
                background: black;
            }
        }

    }

    .cart{
        position: relative;
        span{
            position: absolute;
            top: -5px;
            right: -5px;
            display: block;
            background: #AD0824;
            color: white;
            border-radius: 50%;
            width: 17px;
            height: 17px;
            font-weight: 700;
            font-size: .7rem;
        }
    }    

    &.scroll
    {
        border-bottom: 1px solid lightgray;
        background-color: white;
    }

    &.selected
    {
        background: $body-bg;
    }
}

.searchZone
{    
    width: 100%;
    min-height: calc(100vh - 60px);
    background: white;
    border-top: 1px solid lightgray;
    
    &.active
    {
        opacity: 0;
        animation: addMenu .5s forwards ;
        @keyframes addMenu {
            from{
                opacity: 0;
            }to{
                opacity: 1;
            }
        }   
    }

    &.inactive
    {
        opacity: 1;
        animation: removeMenu .5s forwards ;
        @keyframes removeMenu {
            from{
                opacity: 1;
            }to{
                opacity: 0;
            }
        }   
    }

    form
    {
        border: 1px solid $border-color;
        margin: 7rem auto 0 auto;
        max-width: 550px;
        width: 90%;
        min-width: 350px;
        height: 70px;
        border-radius: 35px;
        overflow: hidden;
        position: relative;
        input{
            height: 100%;
            border: none;
            outline: none;
            padding: 0 35px ;
            font-size: 1.4rem;
            z-index: 0;
        }

        img{
            position: absolute;
            right: 30px;
            height: 30px;
            width: 30px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
        }

        &.selected
        {
            border: 1px solid black;
        }
    }

    .popular-products
    {        
        max-width: 550px;
        width: 90%;
        min-width: 350px;
        margin: 7rem auto 0 auto;
        &>h3{
            color: $border-color;
            font-size: .8rem;
            font-weight: 500;
        }

        ul{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 170px;
            grid-gap: 40px;
            //justify-content: center;
            margin: 1.5rem 0;
            overflow-x: scroll;
            overflow-y: hidden;
            scrollbar-color: transparent transparent;
            &::-webkit-scrollbar
            {
                display: none;
            }
            @media screen and(max-width:640px) {
                // grid-template-columns: repeat(2,1fr);
                // grid-template-rows: repeat(2,170px) ;
            }
            li{                
                max-width: 180px;
                min-width: 150px;
                div{
                    width: 100%;
                    height: 75%;
                    border-radius: 20px;
                    background: #F5F5F5;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    img{
                        display: block;
                        height: 75%;
                        width: auto;
                        transform: scale(1);
                        transition:  transform .3s ease-out;
                    }
                    
                    &:hover
                    {
                        img{
                            transform: scale(1.2);
                        }
                    }
                }
                h2{
                    font-size: .9rem;
                    white-space: nowrap;
                    font-weight: 600;
                    margin: 1rem 0;
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    &::before
                    {
                        content: "";
                        position: absolute;
                        top: 100%;
                        width: 100%;
                        height: 2px;
                        
                    }
                    &:hover
                    {
                        &::before
                        {
                            background: black;
                        }
                    }
                }
            }
        }
    }

    .search-props
    {
        max-width: 550px;
        width: 90%;
        min-width: 350px;
        margin: 1.5rem auto 0 auto;
        padding: 0 30px;
        ul{
            margin-top: 1.5rem;
            width: 100%;
            li{
                font-size: 1.5rem;
                margin: 1rem 0;
                color: $border-color;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
                transition: color .3s;
                &:hover
                {
                    color : rgb(69, 69, 69);
                }
                strong{
                    color: black;
                }
            }
        }
    }
}

.categories-menu
{
    width: 100%;
    background: white;
    min-height: calc(100vh - 60px);
    height: calc(100vh - 60px);
    overflow-y: hidden;
    
    @keyframes animateListItem {
        from{
            transform: translateY(50%);
            opacity: 0;
        }to{
            transform: translateY(0%);
            opacity: 1;
        }
    }

    --height: 435px;

    /* width */
    &::-webkit-scrollbar {
        display: none;
    }

    &.active
    {
        opacity: 0;
        animation: menuApear .8s forwards;
        @keyframes menuApear {
            from{
                opacity: 0;
            }to{
                opacity: 1;
            }
        }
        &>ul>li{
            opacity: 0;
            @for $i from 1 through 12 {
                &:nth-of-type(#{$i}) {
                  animation: animateListItem .4s ($i * 0.1s) forwards ease-in-out;
                }
              }
        }
        menu{
            opacity: 0;
            animation: menudelay .1s 2s forwards;
            @keyframes menudelay {
                from{
                    opacity: 0;
                }to{
                    opacity: 1;
                }
            }
        }
    }

    &.inactive
    {
        animation: menuDisapear .5s forwards;
        @keyframes menuDisapear {
            from{
                opacity: 1;
            }to{
                opacity: 0;
            }
        }
        @keyframes removeAnimateListItem {
            from{
                transform: translateY(0%);
                opacity: 1;
            }to{
                transform: translateY(50%);
                opacity: 0;
            }
        }
        &>ul>li{
            animation: removeAnimateListItem .3s forwards;
        }
    }

    &>ul>li{
        width: 100%;
        margin: auto;
        padding: 0rem 2.5%;
        font-weight: 500;
        background: white;
        position: relative;
        user-select: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.products
        {
            &>p{
                font-weight: 800;
            }

            &::before
            {
                content: "";
                position: absolute;
                width: 95%;
                height: 100%;
                left: 50%;
                transform: translateX(-50%);
                border-bottom: 1px solid rgb(230, 230, 230);
            }
        }

        .append-btn
        {
            width: 12px;
            height: 12px;
            position: relative;
            cursor: pointer;
            span{
                display: block;
                height: 2px;
                width: 100%;
                background: $border-color;
            }
            span:first-child{
                position: absolute;
                transform: rotate(90deg);
            }
        }

        @for $i from 1 through 12 {
            &:nth-of-type(#{$i}) {
              z-index: $i;
            }
          }

        &>p{
            height: 100%;
            padding: 1rem 0;
            margin: 0;
            z-index: 2;
            cursor: pointer;
        }
    }

    @keyframes transitionBottom {
        from{
            transform: translateY(0);
        }to{
            transform: translateY(var(--height));
        }
    }
    @keyframes transitionTop {
        from{
            transform: translateY(var(--height));
        }to{
            transform: translateY(0px);
        }
    }

    menu{
        width: 100%;
        height: var(--height);
        position: absolute;
        top: 100%;
        z-index: 1;
        background: white;
        ul{ 
            display: flex;
            gap: 20px;
            padding: 1rem 0;
            border-bottom: 1px solid $border-color;
            overflow-x: scroll;
            &::-webkit-scrollbar{display: none;}
            &::-webkit-scrollbar-thumb{display: none;}
        }

        li{
            height: 100%;
            width: 300px;
            display: flex;
            align-items: center;
            flex-direction: column;
            div{
                width: 300px;
                height: 300px;
                background: rgb(245, 245, 245);
                border-radius: 20px;
                overflow: hidden;
            }
            cursor: pointer;

            &:first-of-type{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover ;
                }
            }
            &:not(:first-of-type){
                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                img{
                    display: block;
                    width: 70%;
                    height: 70%;
                    object-fit: contain ;
                }
            }

            p{
                font-size: .8rem;
                font-weight: 700;
                align-self: flex-start;
                margin: 1.5rem 0 1rem 0;
            }
        }

        .allProducts{
            width: 100%;
            margin: .6rem auto;
            font-size: .9rem;
            color: $border-color;
            cursor: pointer;
            a{
                cursor: pointer;
            }
            transition:  color .2s;

            &:hover
            {
                color: black;
            }
        }
    }

    &__items>li:nth-of-type(4) menu ul li
    {
        &:nth-of-type(2),&:nth-of-type(3)
        {
            img{
                width: 100%;
                height: 100%;
                object-fit: cover ;
            }
        }        
        
    }

    &__items{
        width: 100%;
        z-index: 2;
        top: 60px;
        position: absolute;
        z-index: 3;
        overflow-y: scroll;
        border: 1px solid transparent;
        min-height: calc(100vh - 60px);
        &::-webkit-scrollbar
        {
            display: none;
        }
        scrollbar-color: transparent transparent;
        li:last-of-type
        {
            height: 100px;
        }
    }
}