@import "./globals.scss";

.content-product
{
    background: white;
    min-height: calc(100vh - 60px);
}

.buy-btn{
    background: #AD0824;
    border: none;
    outline: none;
    color: white;
    border-radius: 30px;
    font-weight: 800;
    cursor: pointer;
    &:hover
    {
        opacity: 0.7;
    }
    a{
        display: flex;
        padding: 9px 26px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

.topBanner
{
    margin-top: 60px;
    &__content 
    {
        width: 95%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    
    h1{
        font-weight: 400;
        font-size: 1.2rem;
    }

    padding: 2rem 0;
    border-bottom: 1px solid lightgray;
}

.product-main
{
    &>h1{
        text-align: center;
        margin: 5rem 0;
        font-size: clamp(2rem,5vw,5rem);
        font-weight: 400;       
    }
    &>img{
        
        max-height: 300px;
        width: auto;
        margin: auto;
        display: block;
        
        @media screen and(max-width:900px) {
            max-height: unset;
            width: 80%;
            height: auto;
        }
    }
}

.specs
{
    width: 95%;
    margin: 4rem auto 0 auto;
    max-width: 1300px;
}

.spec-category
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    padding: 8rem 0;
    border-top: 1px solid lightgray;

    @media screen and(max-width:750px) {
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ul{
            margin-top: 2rem;
            width: 100%;
            li{
                width: 100%;
                
            }
        }
    }

    h2{
        font-size: 1.2rem;
        font-weight: 400;
    }
    ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    li{
        padding-bottom: 2rem;
        height: 100%;
        p{
            color: $border-color;
            //margin-top: 1rem;
        }
        span{
            display: block;
            margin-top: 1rem;
            color: rgb(188, 188, 188);
            font-size: 1.1rem;
            line-height: 1.5rem;
        }
        h2+p
        {
            margin-top: 1rem;
        }
        p:not(:first-of-type)
        {
            margin-top: 1rem;
        }
    }
}

.bottom-banner
{
    margin: auto;
    width: 95%;
    line-height: 1.5rem;
    color: rgb(131, 131, 131);
    padding-bottom: 1rem;
    &>div{
        margin: 2rem 0;
        border-top: 1px solid lightgray;
    }
    ul{
        display: flex;
        padding: 2rem 0;
        li:first-of-type
        {
            padding-right: 2rem;
        }
        li:not(:first-of-type){
            padding: 0 2rem;
            position: relative;
            &::before
            {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                height: 60%;
                border-left: 2px solid $border-color;
                transform: rotate(10deg) translateY(-50%);
            }
        }

        li{
            font-size: clamp(0.8rem,1.5vw,1.1rem);
            font-weight: 400;
        }
    }

    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and(max-width:700px) {
        div{
            flex-direction: column;
            align-items: flex-start;
        }
        ul{
            flex-direction: column;
            width: 100%;
            li:not(:first-of-type)
            {
                padding: 0;
                &::before
                {
                    display: none;
                }
            }
        }
        
    }
}